.header {
  background-color: #fff !important;
  border: 0;
  font-size: 20px;
  color: #777 !important;
}

.button_trash {
  background: none;
  border: none;
  color: #d14836;
  &:focus {
    outline:0;
    opacity: 0.8;
  }
}

.bundle_list {
  padding-left: 5px;
  .bundle_list_name {
    list-style: none;
  }
}