@import './../../theme/global.scss';

.panel {
  // border-radius: 0;
  // border-top: solid 3px #FE0000;
}

.header {
  background-color: #fff !important;
  border: 0;
  font-size: 20px;
  color: #777 !important;
}

.blog_list {
  max-height: 200px;
  overflow-y:scroll;
}

.btn_newblog {
  background: #DA0000;
  color: #fff;
  padding: 10px;
  text-align: center;

  &:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
  }
}

.form_label {
  color: #777;
  text-align: center;
}

.creating_blog {
  text-align: center;
}

.loading_container {
  margin: 0 auto;
}

.or {
  margin: 0 10px;
}

.cname_true {
  color: green;
}

.cname_false {
  color: red;
}

.invalid_domain {
  color: red;
}

.custom_success {
  color: green;
  font-weight: bold;
}

.custom_old_domain {
  font-size: 20px;
  font-size: bold;
  text-decoration: line-through;
}

.custom_new_domain {
  font-size: 20px;
  font-size: bold;
  color: green;
}

.my_field_addon {
  background: #fff;
  border: none;
  border-radius: 0;
}

.input_domain_container {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
}

.blog_title {
  margin-bottom: 2px;
}

.blog_domain {
  color: #DA0000;
}

.input_wrapper {
  margin-bottom: 12px;
  p {
    font-weight: bold;
  }
  select {
    width: 60%;
    background: #fff;
    border: solid 1px #ccc;
    height: 32px;
  }

  input {
    height: 32px;
    width: 32%;
    border: none;
    border-bottom: solid 1px #ccc;
    &:focus {
      outline: none;
    }
  }

  .domain_name_wrapper {
    align-items: flex-end;
    input {
      height: 32px;
      width: 32%;
      border: none;
      border-bottom: solid 1px #ccc;
      &:focus {
        outline: none;
      }
    }
    .domain_check_button {
      margin-left: 24px;
      border: none;
      background: #f0ad4e;
      border-radius: 4px;
      color: #fff;
      padding: 6px 12px;
    }
  }
}

.current_domain_name {
  font-weight: bold;
}

.blogsWrapper {
  display: flex;
  overflow-y: scroll;
  margin-bottom: 24px;

  .blogCard {
    margin: 0 8px;

    .blogBody {
      position: relative;

      .status_container {
        position: absolute;
        left: 0;
        top: -3px;
      }
    }
  }
}