.navbar {
  background-color: #fff;
  border: none;
  border-bottom: solid 1px #eaeaea;
  border-radius: 0px;
  // padding: 10px;

  .container {
    background-color: #FE0000;
  }

  li .active a {
    color: #FE0000;
  }
}

.badge_red {
  background: #FE0000;
  font-size: 9px;
  margin-left: -3px;
  margin-top: -5px;
  position: absolute;
}

.menu_item_icon {
  font-size: 18px;
}
