@import './../../theme/global.scss';

.panel {
  // border-radius: 0;
  // border-top: solid 3px #FE0000;
}

.header {
  background-color: #fff !important;
  border: 0;
  font-size: 20px;
  color: #777 !important;
  text-align: center;
}

.blog_list {
  max-height: 200px;
  overflow-y:scroll;
}

.avatar_container {
  text-align: center;
}

.profile_name_container {
  margin-top: 10px;
  font-size: 20px;
  color: #777;
  text-align: center;
}

.profile_body {
  text-align: center;
  margin-top: 20px;
}

.profile_edit_button {
  background: #DA0000;
  color: #fff;
  padding: 10px;

  &:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
  }
}

.counter {
  text-align: center;
}

.count {
  font-weight: bold;
  font-size: 18px;
}

.border_right {
  border-right: solid 1px #eaeaea;
}

.big_follow_button {
  border: solid 1px #DA0000;
  color: #DA0000;
  padding: 10px;
  background: #fff;

  &:hover {
    text-decoration: none;
    background: #fff;
    color: #DA0000;
    opacity: 0.8;
  }

  &:focus {
    background: #fff;
    border: solid 1px #DA0000;
    color: #DA0000;
    border: 0;
  }
}

.big_unfollow_button {
  background: #DA0000;
  color: #fff;
  padding: 10px;

  &:hover {
    text-decoration: none;
    background: #DA0000;
    color: #fff;
    opacity: 0.8;
  }

  &:focus {
    background: #DA0000;
    color: #fff;
    border: 0;
  }
}
