.panel {
  // border-radius: 0;
  // border-top: solid 1px #FE0000;
}

.header {
  background-color: #fff !important;
  border: 0;
  font-size: 20px;
  color: #777 !important;
}

.blog_list {
  max-height: 200px;
  overflow-y:scroll;
}

.status_premium {
  color: green;
  margin: 0;
  margin-bottom: 10px;
}

.status_free {
  color: #ccc;
  margin: 0;
  margin-bottom: 10px;
}

.btn_extend {
  background: #DA0000;
  color: #fff;
  padding: 10px;
  text-align: center;

  &:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
  }
}

.loading_container {
  margin: 0 auto;
}
