.header {
  background-color: #fff !important;
  border: 0;
  font-size: 20px;
  color: #777 !important;
}

.loading_container {
  margin: 0 auto;
}

.amount {
  color: #fff;
  background: #ec971f;
  padding: 10px;
  text-align: center;
}

.bank_logo {
  width: 100px;
}

.bank_account_detail {
  margin: 10px 0;
  text-align: center;
  color: #777777;
}

.div_detail {
  text-align: center;
}

.force_left {
  text-align: left !important;
}

.btn_pay_confirmation {
  background: #DA0000;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin: 5px 0;

  &:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
  }
}

.unique_container {
  border: solid 1px #fff;
  border-radius: 10%;
  padding: 2px;
}


.btn_back {
  border: 0;
  color: #777;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  &:hover {
    text-decoration: none;
    background: #fff;
    color: #777;
    opacity: 0.8;
  }
}

.due_date_text {
  text-align: center;
}