.table_header {
  td {
    color: #DA0000;
    font-weight: bold;
  }
}

.btn_showinvoice {
  background: #DA0000;
  color: #fff;
  padding: 2px;
  text-align: center;

  &:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
  }
}

.status_verified {
  color: green;
}

.loading_container {
  margin: 0 auto;
}

.btn_loadmore {
  border: 0;
  color: #777;
  font-weight: bold;
  margin-bottom: 10px;
  &:hover {
    background: #fff;
    color: #777;
  }
}
