@import './../../theme/global.scss';

.page_title {
  border-bottom: solid 1px #eaeaea;
  font-size: 20px;
  color: #dd4b39;
  padding-bottom: 5px;
}

.beta_tag {
  font-size: 10px !important;
  padding-left: 2px;
  color: #777;
  vertical-align: top;
}

.page_title_desc {
  color: #ccc;
}
