.panel {
  // border-radius: 0;
  // border-top: solid 3px #FE0000;
}

.panel_header {
  background-color: #fff !important;
  border: 0;
  font-size: 20px;
  color: #777 !important;
}

.btn_pandi {
  background: #DA0000;
  color: #fff;
  padding: 10px;
  text-align: center;
  border: none;
  &:hover {
    background: #DA0000;
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
  }
  &:focus {
    background: #DA0000;
    opacity: 0.8;
  }
}

.btn_pandi_2 {
  background: #DA0000;
  color: #fff;
  text-align: center;
  border: none;
  &:hover {
    background: #DA0000;
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
  }
  &:focus {
    background: #DA0000;
    opacity: 0.8;
  }
}

.btn_pandi_sm {
  background: #DA0000;
  color: #fff;
  padding: 5px;
  text-align: center;
  border: none;
  &:hover {
    background: #DA0000;
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
  }
  &:focus {
    background: #DA0000;
    opacity: 0.8;
  }
}

.mb_10 {
  margin-bottom: 10px;
}


.control_container {
  float: right;
}

.my_form_inline {
    min-width: 0;
    width: auto;
    display: inline;
}

.my_field {
  border: 0;
  box-shadow: none;
  border-bottom: solid 1px #eaeaea;
  border-radius: 0;

  &:focus {
    border: 0;
    box-shadow: none;
    border-bottom: solid 1px #ccc;
  }
}

.field_100 {
  width: 100px !important;
}

.field_50 {
  width: 50px !important;
}

.field_150 {
  width: 150px !important;
}

.my_group_addon {
  border: 0;
  border-bottom: solid 1px #eaeaea;
}

.form_error {
  border-bottom: solid 1px #a94442 !important;
}


.btn_cancel {
  border: none;
  font-weight: bold;
  color: #777;
  margin-right: 15px;

  &:hover {
    background: #fff;
    opacity: 0.8;
  }
}

.subtitle_panel {
  color: #ccc;
  font-weight: lighter;
}

.centering {
  text-align: center;
}

.mt_5 {
  margin-top: 5px;
}

.mb_5 {
  margin-bottom: 5px;
}

.mr_5 {
  margin-right: 5px;
}

.ml_5 {
  margin-left: 5px;
}

.icon_big_disabled {
  font-size: 50px;
  color: #ccc;
}

.nomargin {
  margin: 0 !important;
}

.nopadding {
  padding: 0 !important;
}

.fl_right {
  float: right;
}

.color_red {
  color: #DA0000;
}

.noborder {
  border: none;
}
