@import './../../theme/global.scss';

.title_domain {
  color: #ccc;
  font-weight: lighter;
}

.float_right {
  float: right;
}

.btn_admin {
  background: #DA0000 !important;
  border: 0;
  color: #fff;

  &:hover {
    border: 0;
    color: #fff;
    opacity: 0.8;
  }
}

.panel_disabled {
    pointer-events: none;
    opacity: 0.4;
}

.my_field {
  border: 0;
  box-shadow: none;
  border-bottom: solid 1px #eaeaea;
  border-radius: 0;

  &:focus {
    border: 0;
    box-shadow: none;
    border-bottom: solid 1px #ccc;
  }
}

.centering {
  text-align: center;
}
