.footer_menu {
  margin-bottom: 5px;
  a {
    color: rgb(125, 125, 125);
    border-right: solid 1px #eaeaea;
    padding: 0 5px;
    font-size: 12px;
    font-weight: bold;

    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }

    .last {
      border-right: 0;
    }
  }
}


.footer_copyright {
  color: #ccc;
  font-size: 12px;
}
