.register_button {
  color: #DA0000;
  font-weight: bold;

  &:hover {
    text-decoration: none;
    color: #DA0000;
    opacity: 0.8;
  }
}

.intro_text {
  color: #a5a5a5;
  padding: 0 30px;
  margin-bottom: 10px;
}

.error_box {
  text-align: left !important;
  background: #f2dede;
  margin-right: 10px;
  margin-top: 10px;
  padding: 5px;
  color: #a94442;
}
