@import './../../theme/global.scss';

.table_header {
  color: #777;
  font-weight: bold;
  font-size: 13px;
}

.day_limit_count {
  font-weight: bold;
}

.day_limit_text {
  font-size: 10px;
}

.body_data {
  font-size: 16px;
}

.component_title {
  color: #222;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 13px;
  margin-top: 13px;
}

.ns_title {
  color: #777;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

.side_menu_container {
  margin: 10px;
}

.btn_search_domain {
  background: #d14836;
  color: #fff;
  font-weight: bold;
  border-color: transparent;
  text-shadow: 0 1px rgba(0,0,0,0.1);

  &:hover {
    background: #c53727;
    color: #fff;
    font-weight: bold;
    border-color: transparent;
    text-shadow: 0 1px rgba(0,0,0,0.1);
  }
}

.page_title {
  border-bottom: solid 1px #eaeaea;
  font-size: 20px;
  color: #dd4b39;
  padding-bottom: 5px;
}

.beta_tag {
  font-size: 10px !important;
  padding-left: 2px;
  color: #777;
  vertical-align: top;
}

.page_title_desc {
  color: #ccc;
}

.search_container {
  margin: 10px;
}

.input_domain_field {
  box-shadow: none !important;
}

.input_extension_field {
  box-shadow: none !important;
  border-bottom: solid 1px #ccc;
  -webkit-border-radius: 0;
}

.available_icon {
  color: green;
}

.unavailable_icon {
  color: red;
}

.available_text {
  font-weight: bold;
}

.unavailable_text {
  color: #ccc;
  font-weight: bold;
}

.unavailable_price {
  color: #ccc;
}

.domain_table_body {
  font-size: 16px;
}

.add_to_cart {
  font-size: 20px;
}

.domain_information_card_container {
  margin-top: 20px;
}


.inputGroup {
  position: relative;
}

.contact_form_container {
  margin-top: 10px;
}

.btn_new_ns {
  background: none;
  color: #DA0000;
  border: none;

  &:focus {
    border: none;
    outline: inherit;
  }
}

.detail_title {
  color: #ccc;
  font-size: 12px;
}

.detail_value {
  font-weight: bold;
  margin-bottom: 10px;
}

.extension_dropdown {
  height: 34px;
}