@import './../../theme/global.scss';

.panel {
  border-radius: 0;
  border: 0;
  box-shadow: none;
}

.header {
  background-color: #fff !important;
  border: 0;
  font-size: 20px;
  color: #777 !important;
}

.blog_list {
  max-height: 200px;
  overflow-y:scroll;
}

.avatar_container {
  text-align: center;
}

.profile_name_container {
  margin-top: 10px;
  font-size: 20px;
  color: #777;
  text-align: center;
}

.profile_body {
  text-align: center;
  margin-top: 20px;
}

.profile_edit_button {
  background: #FE0000;
  color: #fff;
  padding: 10px;

  &:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
  }
}

.news_container {
  margin-bottom: 10px;
}

.news_thumbnail {
  img {
    max-height: 360px;
  }

}

.news_user {
  position: relative;
  overflow: visible;
  margin-bottom: -5px;
}

.lead_left, .lead_body, .lead_right {
  display: table-cell;
  vertical-align: top;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.lead_left {
  padding-right: 10px;
}

.avatar {
  display: inline-block;
  position: relative;
}

.avatar_image {
  width: 35px;
  height: 35px;
  border: 1px solid #bfbfbf;
}


.lead_middle {
  vertical-align: middle;
}

.lead_right {
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;

  a {
    color: #FE0000;
    text-decoration: none;
    border: solid 1px #FE0000;
    padding: 7px;
    border-radius: 15px;
  }
}

.lead_heading {
  margin-bottom: 0;
  margin-top: 0;
  color: #404040;
  font-size: 13px;
}

.content {
  padding-top: 0;
  padding-bottom: 7.5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: normal;
  hyphens: none;

  a {
    color: #404040;
    &:hover {
      text-decoration: none;
    }
  }
}

.img_container {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
}

.loading_container {
  margin: 0 auto;
}

.profile_name_link {
  color: #DA0000;

  &:hover {
    color: #DA0000;
    opacity: 0.8;
  }
}

.btn_loadmore {
  border: 0;
  color: #777;
  font-weight: bold;
  margin-bottom: 10px;
  &:hover {
    background: #fff;
    color: #777;
  }
}
